<%- include('partials/header'); -%>
<h1><%=postHead%></h1>
<p><%=homeText%></p>
<div class="buttondiv">
  <button type="button" onclick="location.href='/compose'" class="btn btn-primary">Add Your Own Blog</button>
</div>

<%- include('partials/footer'); -%>
